.contdown-container{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contdown {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    div.bloc {
        
        padding: 20px 20px 0px 20px;
        margin: 10px;
        border-radius: 20px;
        border: 2px solid var(--white);
        display: flex;
        flex-direction: column;
        min-width: 136px;
        text-transform: uppercase;
        
        strong {
            font-size: 3em;
            font-weight: 500;
        }
        
        span{
            padding: 5px;
            margin: 0px 10px;
            font-size: 0.8em;
            text-transform: uppercase;
        }
        
        p {
            font-weight: 100;
            text-transform: uppercase;
            margin-top: 5px;
        }
    }
}
@media screen and (max-width: 540px){
    .contdown {
        flex-direction: column;
    }
    .contdown-container {
        align-items: center;
    }

    .contdown div.bloc {
        max-width: 8.8em;
    }

}